// .card-no {
//   border-bottom: 1px solid #3a3526; // Adds a border line on top only
//   margin: 0;
//   font-size: 50px;
//   color: #372d12;
//   font-weight: 500;
//   position: relative;
// }

.card-link {
  span {
    font-family: sans-serif;
  }
}
.card-content-header {
  text-decoration: none;
  display: flex;
  font-family: 'Coolvetica';
  border-top: 1px solid #464e53; // Adds a border line on top only
  border-bottom: 1px solid #464e53; // Adds a border line on top only
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 200;
  position: relative;

  a {
    color: #31373b;

    text-decoration: none;
  }
}

a {
  color: #31373b;
  text-decoration: underline;
}

.card-link {
  border-top: 1px solid #31373b; // Adds a border line on top only
  border-bottom: 1px solid #464e53;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  letter-spacing: 1px;
  margin: 0px;
  font-size: 90px;
}

h2 {
  color: #31373b;
  margin-top: 20px;
  font-weight: 200;
  font-size: 14px;
  font-family: 'Coolvetica';
  letter-spacing: 2px;
}
// span {
//     display: inline-block;
//     margin-top: 50px;
// }
