// .card-no {
//   border-bottom: 1px solid #3a3526; // Adds a border line on top only
//   margin: 0;
//   font-size: 50px;
//   color: #372d12;
//   font-weight: 500;
//   position: relative;
// }

.card-link {
  span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
.card-content-header {
  text-decoration: none;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid #beb396; // Adds a border line on top only
  border-bottom: 1px solid #beb396; // Adds a border line on top only
  font-size: 18px;
  font-weight: bold;
  position: relative;

  a {
    text-decoration: none;
  }
}

a {
  color: #313131;
  text-decoration: underline;
}

.card-link {
  border-top: 1px solid #beb396; // Adds a border line on top only
  border-bottom: 1px solid #beb396;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  margin: 0px;
  font-size: 90px;
}
// span {
//     display: inline-block;
//     margin-top: 50px;
// }
