// @media (width > 480px) {
.image-container {
  z-index: 0;
  position: relative;
  opacity: 1;
}

.image {
  border-radius: 50%;
  height: 700px;
  width: clamp(250px, 50vw, 700px);
  height: clamp(250px, 50vw, 700px);
  animation: fadeIn 1s 1.8s backwards;
}
