.nav-bar {
  background: #f8f6f3;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 3;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {

    margin-top: 12px;
    display: block;
    text-align: center;
    position: absolute;
    height: 40px;
    width: 100%;

    a {
      font-family: 'Coolvetica';
      color: #464e53;
      margin: 15px;
      font-size: 15px;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      &:hover {
        font-size: 20px;

        &:after {
          opacity: 1;
        }
      }

      &:hover {
        color: #115173;
      }
    }

    a.active {
      font-size: 20px;
      color: #115173;
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #ffd700;
        }
      }
    }
  }
}
